*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  @include box-sizing(border-box);
}

html {
  // Initializes our 1rem = $base-font-size font-size system
  font-size: $base-font-size;
  @include reset-html5;
  @include reset-focus;
}

body {
  @include box-sizing(border-box);
}

.section-about {
  // background-color: $color-grey-light-1;
  @include background-gradient(darken($color-white, 3), $color-grey-light-1, vertical);
  padding: 25rem 0;
  margin-top: -20vh;
}