*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  @include box-sizing(border-box);
}

html {
  // Initializes our 1rem = $base-font-size font-size system
  font-size: $base-font-size;
  @include reset-html5;
  @include reset-focus;
}

body {
  @include box-sizing(border-box);
}