@charset "UTF-8";
.row {
  *zoom: 1; }
  .row:before, .row:after {
    content: ' ';
    display: table; }
  .row:after {
    clear: both; }

body:before {
  background-color: #FCF8E3;
  border-bottom: 1px solid #FBEED5;
  border-left: 1px solid #FBEED5;
  color: #C09853;
  font: small-caption;
  padding: 3px 6px;
  pointer-events: none;
  position: fixed;
  right: 0;
  top: 0;
  z-index: 100; }
  @media screen and (min-width: 26.25em) {
    body:before {
      content: "mobile ≥ 420px (26.25em)"; } }
  @media screen and (min-width: 46.25em) {
    body:before {
      content: "tablet ≥ 740px (46.25em)"; } }
  @media screen and (min-width: 61.25em) {
    body:before {
      content: "desktop ≥ 980px (61.25em)"; } }
  @media screen and (min-width: 81.25em) {
    body:before {
      content: "wide ≥ 1300px (81.25em)"; } }

.row:before, .row:after {
  content: "";
  display: table; }

.row:after {
  clear: both; }

.row {
  *zoom: 1; }
  .row:before, .row:after {
    content: ' ';
    display: table; }
  .row:after {
    clear: both; }

body:before {
  background-color: #FCF8E3;
  border-bottom: 1px solid #FBEED5;
  border-left: 1px solid #FBEED5;
  color: #C09853;
  font: small-caption;
  padding: 3px 6px;
  pointer-events: none;
  position: fixed;
  right: 0;
  top: 0;
  z-index: 100; }
  @media screen and (min-width: 26.25em) {
    body:before {
      content: "mobile ≥ 420px (26.25em)"; } }
  @media screen and (min-width: 46.25em) {
    body:before {
      content: "tablet ≥ 740px (46.25em)"; } }
  @media screen and (min-width: 61.25em) {
    body:before {
      content: "desktop ≥ 980px (61.25em)"; } }
  @media screen and (min-width: 81.25em) {
    body:before {
      content: "wide ≥ 1300px (81.25em)"; } }

@font-face {
  font-family: 'Icons';
  src: url("../css/fonts/open-iconic.eot");
  src: url("../css/fonts/open-iconic.eot?#iconic-sm") format("embedded-opentype"), url("../css/fonts/open-iconic.woff") format("woff"), url("../css/fonts/open-iconic.ttf") format("truetype"), url("../css/fonts/open-iconic.otf") format("opentype"), url("../css/fonts/open-iconic.svg#iconic-sm") format("svg");
  font-weight: normal;
  font-style: normal; }

.oi[data-glyph].oi-text-replace {
  font-size: 0;
  line-height: 0; }

.oi[data-glyph].oi-text-replace:before {
  width: 1em;
  text-align: center; }

.oi[data-glyph]:before {
  position: relative;
  top: 1px;
  font-family: 'Icons';
  display: inline-block;
  speak: none;
  line-height: 1;
  vertical-align: baseline;
  font-weight: normal;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale; }

.oi[data-glyph]:empty:before {
  width: 1em;
  text-align: center;
  box-sizing: content-box; }

.oi[data-glyph].oi-align-left:before {
  text-align: left; }

.oi[data-glyph].oi-align-right:before {
  text-align: right; }

.oi[data-glyph].oi-align-center:before {
  text-align: center; }

.oi[data-glyph].oi-flip-horizontal:before {
  -webkit-transform: scale(-1, 1);
  -ms-transform: scale(-1, 1);
  transform: scale(-1, 1); }

.oi[data-glyph].oi-flip-vertical:before {
  -webkit-transform: scale(1, -1);
  -ms-transform: scale(-1, 1);
  transform: scale(1, -1); }

.oi[data-glyph].oi-flip-horizontal-vertical:before {
  -webkit-transform: scale(-1, -1);
  -ms-transform: scale(-1, 1);
  transform: scale(-1, -1); }

.oi[data-glyph=account-login]:before {
  content: '\e000'; }

.oi[data-glyph=account-logout]:before {
  content: '\e001'; }

.oi[data-glyph=action-redo]:before {
  content: '\e002'; }

.oi[data-glyph=action-undo]:before {
  content: '\e003'; }

.oi[data-glyph=align-center]:before {
  content: '\e004'; }

.oi[data-glyph=align-left]:before {
  content: '\e005'; }

.oi[data-glyph=align-right]:before {
  content: '\e006'; }

.oi[data-glyph=aperture]:before {
  content: '\e007'; }

.oi[data-glyph=arrow-bottom]:before {
  content: '\e008'; }

.oi[data-glyph=arrow-circle-bottom]:before {
  content: '\e009'; }

.oi[data-glyph=arrow-circle-left]:before {
  content: '\e00a'; }

.oi[data-glyph=arrow-circle-right]:before {
  content: '\e00b'; }

.oi[data-glyph=arrow-circle-top]:before {
  content: '\e00c'; }

.oi[data-glyph=arrow-left]:before {
  content: '\e00d'; }

.oi[data-glyph=arrow-right]:before {
  content: '\e00e'; }

.oi[data-glyph=arrow-thick-bottom]:before {
  content: '\e00f'; }

.oi[data-glyph=arrow-thick-left]:before {
  content: '\e010'; }

.oi[data-glyph=arrow-thick-right]:before {
  content: '\e011'; }

.oi[data-glyph=arrow-thick-top]:before {
  content: '\e012'; }

.oi[data-glyph=arrow-top]:before {
  content: '\e013'; }

.oi[data-glyph=audio-spectrum]:before {
  content: '\e014'; }

.oi[data-glyph=audio]:before {
  content: '\e015'; }

.oi[data-glyph=badge]:before {
  content: '\e016'; }

.oi[data-glyph=ban]:before {
  content: '\e017'; }

.oi[data-glyph=bar-chart]:before {
  content: '\e018'; }

.oi[data-glyph=basket]:before {
  content: '\e019'; }

.oi[data-glyph=battery-empty]:before {
  content: '\e01a'; }

.oi[data-glyph=battery-full]:before {
  content: '\e01b'; }

.oi[data-glyph=beaker]:before {
  content: '\e01c'; }

.oi[data-glyph=bell]:before {
  content: '\e01d'; }

.oi[data-glyph=bluetooth]:before {
  content: '\e01e'; }

.oi[data-glyph=bold]:before {
  content: '\e01f'; }

.oi[data-glyph=bolt]:before {
  content: '\e020'; }

.oi[data-glyph=book]:before {
  content: '\e021'; }

.oi[data-glyph=bookmark]:before {
  content: '\e022'; }

.oi[data-glyph=box]:before {
  content: '\e023'; }

.oi[data-glyph=briefcase]:before {
  content: '\e024'; }

.oi[data-glyph=british-pound]:before {
  content: '\e025'; }

.oi[data-glyph=browser]:before {
  content: '\e026'; }

.oi[data-glyph=brush]:before {
  content: '\e027'; }

.oi[data-glyph=bug]:before {
  content: '\e028'; }

.oi[data-glyph=bullhorn]:before {
  content: '\e029'; }

.oi[data-glyph=calculator]:before {
  content: '\e02a'; }

.oi[data-glyph=calendar]:before {
  content: '\e02b'; }

.oi[data-glyph=camera-slr]:before {
  content: '\e02c'; }

.oi[data-glyph=caret-bottom]:before {
  content: '\e02d'; }

.oi[data-glyph=caret-left]:before {
  content: '\e02e'; }

.oi[data-glyph=caret-right]:before {
  content: '\e02f'; }

.oi[data-glyph=caret-top]:before {
  content: '\e030'; }

.oi[data-glyph=cart]:before {
  content: '\e031'; }

.oi[data-glyph=chat]:before {
  content: '\e032'; }

.oi[data-glyph=check]:before {
  content: '\e033'; }

.oi[data-glyph=chevron-bottom]:before {
  content: '\e034'; }

.oi[data-glyph=chevron-left]:before {
  content: '\e035'; }

.oi[data-glyph=chevron-right]:before {
  content: '\e036'; }

.oi[data-glyph=chevron-top]:before {
  content: '\e037'; }

.oi[data-glyph=circle-check]:before {
  content: '\e038'; }

.oi[data-glyph=circle-x]:before {
  content: '\e039'; }

.oi[data-glyph=clipboard]:before {
  content: '\e03a'; }

.oi[data-glyph=clock]:before {
  content: '\e03b'; }

.oi[data-glyph=cloud-download]:before {
  content: '\e03c'; }

.oi[data-glyph=cloud-upload]:before {
  content: '\e03d'; }

.oi[data-glyph=cloud]:before {
  content: '\e03e'; }

.oi[data-glyph=cloudy]:before {
  content: '\e03f'; }

.oi[data-glyph=code]:before {
  content: '\e040'; }

.oi[data-glyph=cog]:before {
  content: '\e041'; }

.oi[data-glyph=collapse-down]:before {
  content: '\e042'; }

.oi[data-glyph=collapse-left]:before {
  content: '\e043'; }

.oi[data-glyph=collapse-right]:before {
  content: '\e044'; }

.oi[data-glyph=collapse-up]:before {
  content: '\e045'; }

.oi[data-glyph=command]:before {
  content: '\e046'; }

.oi[data-glyph=comment-square]:before {
  content: '\e047'; }

.oi[data-glyph=compass]:before {
  content: '\e048'; }

.oi[data-glyph=contrast]:before {
  content: '\e049'; }

.oi[data-glyph=copywriting]:before {
  content: '\e04a'; }

.oi[data-glyph=credit-card]:before {
  content: '\e04b'; }

.oi[data-glyph=crop]:before {
  content: '\e04c'; }

.oi[data-glyph=dashboard]:before {
  content: '\e04d'; }

.oi[data-glyph=data-transfer-download]:before {
  content: '\e04e'; }

.oi[data-glyph=data-transfer-upload]:before {
  content: '\e04f'; }

.oi[data-glyph=delete]:before {
  content: '\e050'; }

.oi[data-glyph=dial]:before {
  content: '\e051'; }

.oi[data-glyph=document]:before {
  content: '\e052'; }

.oi[data-glyph=dollar]:before {
  content: '\e053'; }

.oi[data-glyph=double-quote-sans-left]:before {
  content: '\e054'; }

.oi[data-glyph=double-quote-sans-right]:before {
  content: '\e055'; }

.oi[data-glyph=double-quote-serif-left]:before {
  content: '\e056'; }

.oi[data-glyph=double-quote-serif-right]:before {
  content: '\e057'; }

.oi[data-glyph=droplet]:before {
  content: '\e058'; }

.oi[data-glyph=eject]:before {
  content: '\e059'; }

.oi[data-glyph=elevator]:before {
  content: '\e05a'; }

.oi[data-glyph=ellipses]:before {
  content: '\e05b'; }

.oi[data-glyph=envelope-closed]:before {
  content: '\e05c'; }

.oi[data-glyph=envelope-open]:before {
  content: '\e05d'; }

.oi[data-glyph=euro]:before {
  content: '\e05e'; }

.oi[data-glyph=excerpt]:before {
  content: '\e05f'; }

.oi[data-glyph=expand-down]:before {
  content: '\e060'; }

.oi[data-glyph=expand-left]:before {
  content: '\e061'; }

.oi[data-glyph=expand-right]:before {
  content: '\e062'; }

.oi[data-glyph=expand-up]:before {
  content: '\e063'; }

.oi[data-glyph=external-link]:before {
  content: '\e064'; }

.oi[data-glyph=eye]:before {
  content: '\e065'; }

.oi[data-glyph=eyedropper]:before {
  content: '\e066'; }

.oi[data-glyph=file]:before {
  content: '\e067'; }

.oi[data-glyph=fire]:before {
  content: '\e068'; }

.oi[data-glyph=flag]:before {
  content: '\e069'; }

.oi[data-glyph=flash]:before {
  content: '\e06a'; }

.oi[data-glyph=folder]:before {
  content: '\e06b'; }

.oi[data-glyph=fork]:before {
  content: '\e06c'; }

.oi[data-glyph=fullscreen-enter]:before {
  content: '\e06d'; }

.oi[data-glyph=fullscreen-exit]:before {
  content: '\e06e'; }

.oi[data-glyph=globe]:before {
  content: '\e06f'; }

.oi[data-glyph=graph]:before {
  content: '\e070'; }

.oi[data-glyph=grid-four-up]:before {
  content: '\e071'; }

.oi[data-glyph=grid-three-up]:before {
  content: '\e072'; }

.oi[data-glyph=grid-two-up]:before {
  content: '\e073'; }

.oi[data-glyph=hard-drive]:before {
  content: '\e074'; }

.oi[data-glyph=header]:before {
  content: '\e075'; }

.oi[data-glyph=headphones]:before {
  content: '\e076'; }

.oi[data-glyph=heart]:before {
  content: '\e077'; }

.oi[data-glyph=home]:before {
  content: '\e078'; }

.oi[data-glyph=image]:before {
  content: '\e079'; }

.oi[data-glyph=inbox]:before {
  content: '\e07a'; }

.oi[data-glyph=infinity]:before {
  content: '\e07b'; }

.oi[data-glyph=info]:before {
  content: '\e07c'; }

.oi[data-glyph=italic]:before {
  content: '\e07d'; }

.oi[data-glyph=justify-center]:before {
  content: '\e07e'; }

.oi[data-glyph=justify-left]:before {
  content: '\e07f'; }

.oi[data-glyph=justify-right]:before {
  content: '\e080'; }

.oi[data-glyph=key]:before {
  content: '\e081'; }

.oi[data-glyph=laptop]:before {
  content: '\e082'; }

.oi[data-glyph=layers]:before {
  content: '\e083'; }

.oi[data-glyph=lightbulb]:before {
  content: '\e084'; }

.oi[data-glyph=link-broken]:before {
  content: '\e085'; }

.oi[data-glyph=link-intact]:before {
  content: '\e086'; }

.oi[data-glyph=list-rich]:before {
  content: '\e087'; }

.oi[data-glyph=list]:before {
  content: '\e088'; }

.oi[data-glyph=location]:before {
  content: '\e089'; }

.oi[data-glyph=lock-locked]:before {
  content: '\e08a'; }

.oi[data-glyph=lock-unlocked]:before {
  content: '\e08b'; }

.oi[data-glyph=loop-circular]:before {
  content: '\e08c'; }

.oi[data-glyph=loop-square]:before {
  content: '\e08d'; }

.oi[data-glyph=loop]:before {
  content: '\e08e'; }

.oi[data-glyph=magnifying-glass]:before {
  content: '\e08f'; }

.oi[data-glyph=map-marker]:before {
  content: '\e090'; }

.oi[data-glyph=map]:before {
  content: '\e091'; }

.oi[data-glyph=media-pause]:before {
  content: '\e092'; }

.oi[data-glyph=media-play]:before {
  content: '\e093'; }

.oi[data-glyph=media-record]:before {
  content: '\e094'; }

.oi[data-glyph=media-skip-backward]:before {
  content: '\e095'; }

.oi[data-glyph=media-skip-forward]:before {
  content: '\e096'; }

.oi[data-glyph=media-step-backward]:before {
  content: '\e097'; }

.oi[data-glyph=media-step-forward]:before {
  content: '\e098'; }

.oi[data-glyph=media-stop]:before {
  content: '\e099'; }

.oi[data-glyph=medical-cross]:before {
  content: '\e09a'; }

.oi[data-glyph=menu]:before {
  content: '\e09b'; }

.oi[data-glyph=microphone]:before {
  content: '\e09c'; }

.oi[data-glyph=minus]:before {
  content: '\e09d'; }

.oi[data-glyph=monitor]:before {
  content: '\e09e'; }

.oi[data-glyph=moon]:before {
  content: '\e09f'; }

.oi[data-glyph=move]:before {
  content: '\e0a0'; }

.oi[data-glyph=musical-note]:before {
  content: '\e0a1'; }

.oi[data-glyph=paperclip]:before {
  content: '\e0a2'; }

.oi[data-glyph=pencil]:before {
  content: '\e0a3'; }

.oi[data-glyph=people]:before {
  content: '\e0a4'; }

.oi[data-glyph=person]:before {
  content: '\e0a5'; }

.oi[data-glyph=phone]:before {
  content: '\e0a6'; }

.oi[data-glyph=pie-chart]:before {
  content: '\e0a7'; }

.oi[data-glyph=pin]:before {
  content: '\e0a8'; }

.oi[data-glyph=play-circle]:before {
  content: '\e0a9'; }

.oi[data-glyph=plus]:before {
  content: '\e0aa'; }

.oi[data-glyph=power-standby]:before {
  content: '\e0ab'; }

.oi[data-glyph=print]:before {
  content: '\e0ac'; }

.oi[data-glyph=project]:before {
  content: '\e0ad'; }

.oi[data-glyph=pulse]:before {
  content: '\e0ae'; }

.oi[data-glyph=puzzle-piece]:before {
  content: '\e0af'; }

.oi[data-glyph=question-mark]:before {
  content: '\e0b0'; }

.oi[data-glyph=rain]:before {
  content: '\e0b1'; }

.oi[data-glyph=random]:before {
  content: '\e0b2'; }

.oi[data-glyph=reload]:before {
  content: '\e0b3'; }

.oi[data-glyph=resize-both]:before {
  content: '\e0b4'; }

.oi[data-glyph=resize-height]:before {
  content: '\e0b5'; }

.oi[data-glyph=resize-width]:before {
  content: '\e0b6'; }

.oi[data-glyph=rss-alt]:before {
  content: '\e0b7'; }

.oi[data-glyph=rss]:before {
  content: '\e0b8'; }

.oi[data-glyph=script]:before {
  content: '\e0b9'; }

.oi[data-glyph=share-boxed]:before {
  content: '\e0ba'; }

.oi[data-glyph=share]:before {
  content: '\e0bb'; }

.oi[data-glyph=shield]:before {
  content: '\e0bc'; }

.oi[data-glyph=signal]:before {
  content: '\e0bd'; }

.oi[data-glyph=signpost]:before {
  content: '\e0be'; }

.oi[data-glyph=sort-ascending]:before {
  content: '\e0bf'; }

.oi[data-glyph=sort-descending]:before {
  content: '\e0c0'; }

.oi[data-glyph=spreadsheet]:before {
  content: '\e0c1'; }

.oi[data-glyph=star]:before {
  content: '\e0c2'; }

.oi[data-glyph=sun]:before {
  content: '\e0c3'; }

.oi[data-glyph=tablet]:before {
  content: '\e0c4'; }

.oi[data-glyph=tag]:before {
  content: '\e0c5'; }

.oi[data-glyph=tags]:before {
  content: '\e0c6'; }

.oi[data-glyph=target]:before {
  content: '\e0c7'; }

.oi[data-glyph=task]:before {
  content: '\e0c8'; }

.oi[data-glyph=terminal]:before {
  content: '\e0c9'; }

.oi[data-glyph=text]:before {
  content: '\e0ca'; }

.oi[data-glyph=thumb-down]:before {
  content: '\e0cb'; }

.oi[data-glyph=thumb-up]:before {
  content: '\e0cc'; }

.oi[data-glyph=timer]:before {
  content: '\e0cd'; }

.oi[data-glyph=transfer]:before {
  content: '\e0ce'; }

.oi[data-glyph=trash]:before {
  content: '\e0cf'; }

.oi[data-glyph=underline]:before {
  content: '\e0d0'; }

.oi[data-glyph=vertical-align-bottom]:before {
  content: '\e0d1'; }

.oi[data-glyph=vertical-align-center]:before {
  content: '\e0d2'; }

.oi[data-glyph=vertical-align-top]:before {
  content: '\e0d3'; }

.oi[data-glyph=video]:before {
  content: '\e0d4'; }

.oi[data-glyph=volume-high]:before {
  content: '\e0d5'; }

.oi[data-glyph=volume-low]:before {
  content: '\e0d6'; }

.oi[data-glyph=volume-off]:before {
  content: '\e0d7'; }

.oi[data-glyph=warning]:before {
  content: '\e0d8'; }

.oi[data-glyph=wifi]:before {
  content: '\e0d9'; }

.oi[data-glyph=wrench]:before {
  content: '\e0da'; }

.oi[data-glyph=x]:before {
  content: '\e0db'; }

.oi[data-glyph=yen]:before {
  content: '\e0dc'; }

.oi[data-glyph=zoom-in]:before {
  content: '\e0dd'; }

.oi[data-glyph=zoom-out]:before {
  content: '\e0de'; }

.icon {
  width: 2rem;
  height: 2rem; }

@font-face {
  font-family: "Lato";
  font-style: normal;
  font-weight: 100;
  src: url("../css/fonts/lato-v16-latin-100.eot");
  src: url("../css/fonts/lato-v16-latin-100.eot?#iefix") format("embedded-opentype"), url("../css/fonts/lato-v16-latin-100.woff2") format("woff2"), url("../css/fonts/lato-v16-latin-100.woff") format("woff"), url("../css/fonts/lato-v16-latin-100.ttf") format("truetype"), url("../css/fonts/lato-v16-latin-100.svg#Lato") format("svg"); }

@font-face {
  font-family: "Lato";
  font-style: italic;
  font-weight: 100;
  src: url("../css/fonts/lato-v16-latin-100italic.eot");
  src: url("../css/fonts/lato-v16-latin-100italic.eot?#iefix") format("embedded-opentype"), url("../css/fonts/lato-v16-latin-100italic.woff2") format("woff2"), url("../css/fonts/lato-v16-latin-100italic.woff") format("woff"), url("../css/fonts/lato-v16-latin-100italic.ttf") format("truetype"), url("../css/fonts/lato-v16-latin-100italic.svg#Lato") format("svg"); }

@font-face {
  font-family: "Lato";
  font-style: normal;
  font-weight: 300;
  src: url("../css/fonts/lato-v16-latin-300.eot");
  src: url("../css/fonts/lato-v16-latin-300.eot?#iefix") format("embedded-opentype"), url("../css/fonts/lato-v16-latin-300.woff2") format("woff2"), url("../css/fonts/lato-v16-latin-300.woff") format("woff"), url("../css/fonts/lato-v16-latin-300.ttf") format("truetype"), url("../css/fonts/lato-v16-latin-300.svg#Lato") format("svg"); }

@font-face {
  font-family: "Lato";
  font-style: italic;
  font-weight: 300;
  src: url("../css/fonts/lato-v16-latin-300italic.eot");
  src: url("../css/fonts/lato-v16-latin-300italic.eot?#iefix") format("embedded-opentype"), url("../css/fonts/lato-v16-latin-300italic.woff2") format("woff2"), url("../css/fonts/lato-v16-latin-300italic.woff") format("woff"), url("../css/fonts/lato-v16-latin-300italic.ttf") format("truetype"), url("../css/fonts/lato-v16-latin-300italic.svg#Lato") format("svg"); }

@font-face {
  font-family: "Lato";
  font-style: normal;
  font-weight: 400;
  src: url("../css/fonts/lato-v16-latin-regular.eot");
  src: url("../css/fonts/lato-v16-latin-regular.eot?#iefix") format("embedded-opentype"), url("../css/fonts/lato-v16-latin-regular.woff2") format("woff2"), url("../css/fonts/lato-v16-latin-regular.woff") format("woff"), url("../css/fonts/lato-v16-latin-regular.ttf") format("truetype"), url("../css/fonts/lato-v16-latin-regular.svg#Lato") format("svg"); }

@font-face {
  font-family: "Lato";
  font-style: italic;
  font-weight: 400;
  src: url("../css/fonts/lato-v16-latin-italic.eot");
  src: url("../css/fonts/lato-v16-latin-italic.eot?#iefix") format("embedded-opentype"), url("../css/fonts/lato-v16-latin-italic.woff2") format("woff2"), url("../css/fonts/lato-v16-latin-italic.woff") format("woff"), url("../css/fonts/lato-v16-latin-italic.ttf") format("truetype"), url("../css/fonts/lato-v16-latin-italic.svg#Lato") format("svg"); }

@font-face {
  font-family: "Lato";
  font-style: normal;
  font-weight: 700;
  src: url("../css/fonts/lato-v16-latin-700.eot");
  src: url("../css/fonts/lato-v16-latin-700.eot?#iefix") format("embedded-opentype"), url("../css/fonts/lato-v16-latin-700.woff2") format("woff2"), url("../css/fonts/lato-v16-latin-700.woff") format("woff"), url("../css/fonts/lato-v16-latin-700.ttf") format("truetype"), url("../css/fonts/lato-v16-latin-700.svg#Lato") format("svg"); }

@font-face {
  font-family: "Lato";
  font-style: italic;
  font-weight: 700;
  src: url("../css/fonts/lato-v16-latin-700italic.eot");
  src: url("../css/fonts/lato-v16-latin-700italic.eot?#iefix") format("embedded-opentype"), url("../css/fonts/lato-v16-latin-700italic.woff2") format("woff2"), url("../css/fonts/lato-v16-latin-700italic.woff") format("woff"), url("../css/fonts/lato-v16-latin-700italic.ttf") format("truetype"), url("../css/fonts/lato-v16-latin-700italic.svg#Lato") format("svg"); }

@font-face {
  font-family: "Lato";
  font-style: normal;
  font-weight: 900;
  src: url("../css/fonts/lato-v16-latin-900.eot");
  src: url("../css/fonts/lato-v16-latin-900.eot?#iefix") format("embedded-opentype"), url("../css/fonts/lato-v16-latin-900.woff2") format("woff2"), url("../css/fonts/lato-v16-latin-900.woff") format("woff"), url("../css/fonts/lato-v16-latin-900.ttf") format("truetype"), url("../css/fonts/lato-v16-latin-900.svg#Lato") format("svg"); }

@font-face {
  font-family: "Lato";
  font-style: italic;
  font-weight: 900;
  src: url("../css/fonts/lato-v16-latin-900italic.eot");
  src: url("../css/fonts/lato-v16-latin-900italic.eot?#iefix") format("embedded-opentype"), url("../css/fonts/lato-v16-latin-900italic.woff2") format("woff2"), url("../css/fonts/lato-v16-latin-900italic.woff") format("woff"), url("../css/fonts/lato-v16-latin-900italic.ttf") format("truetype"), url("../css/fonts/lato-v16-latin-900italic.svg#Lato") format("svg"); }

body {
  font-family: 'Lato', sans-serif;
  font-weight: 400;
  line-height: 17px;
  line-height: 1.7rem;
  color: #777;
  padding: 3rem;
  -webkit-background-size: 100% 100%;
  -moz-background-size: 100% 100%;
  background-size: 100% 100%;
  background-color: #fff; }
  @media (min-width: 1300px) {
    body {
      padding: 3.4rem; } }

@media (min-width: 421px) and (max-width: 768px) {
  body {
    padding: 2.4rem; } }
  @media (max-width: 420px) {
    body {
      padding: 1.4rem; } }

.heading-primary {
  color: #fff;
  text-transform: uppercase;
  backface-visibility: hidden;
  margin-bottom: 6rem;
  text-align: center;
  width: auto;
  height: 100%;
  white-space: nowrap;
  font-size: 0; }
  .heading-primary--main {
    line-height: 64px;
    line-height: 6.4rem;
    display: inline-block;
    width: 100%;
    height: 100%;
    font-size: 60px;
    font-size: 6rem;
    font-weight: 700;
    letter-spacing: 3.5rem;
    -webkit-animation: slide-in-x--10rem 1s ease-out;
    animation: slide-in-x--10rem 1s ease-out;
    white-space: normal;
    text-align: center; }

@-webkit-keyframes slide-in-x--10rem {
  0% {
    opacity: 0;
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
    -webkit-transform: translateX(-10rem);
    -ms-transform: translateX(-10rem);
    transform: translateX(-10rem); }
  75% {
    -webkit-transform: translateX(0);
    -ms-transform: translateX(0);
    transform: translateX(0); }
  100% {
    opacity: 1;
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)"; } }

@keyframes slide-in-x--10rem {
  0% {
    opacity: 0;
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
    -webkit-transform: translateX(-10rem);
    -ms-transform: translateX(-10rem);
    transform: translateX(-10rem); }
  75% {
    -webkit-transform: translateX(0);
    -ms-transform: translateX(0);
    transform: translateX(0); }
  100% {
    opacity: 1;
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)"; } }
    @media (max-width: 768px) {
      .heading-primary--main {
        width: 100%;
        height: auto;
        font-size: 44px;
        font-size: 4.4rem;
        letter-spacing: 2.5rem;
        line-height: 48px;
        line-height: 4.8rem; } }
  .heading-primary--sub {
    line-height: 26px;
    line-height: 2.6rem;
    display: block;
    width: 100%;
    height: 100%;
    font-size: 22px;
    font-size: 2.2rem;
    font-weight: 700;
    letter-spacing: 1.75rem;
    word-spacing: -.9rem;
    -webkit-animation: slide-in-x-10rem 1s ease-out;
    animation: slide-in-x-10rem 1s ease-out;
    white-space: normal;
    text-align: center; }

@-webkit-keyframes slide-in-x-10rem {
  0% {
    opacity: 0;
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
    -webkit-transform: translateX(10rem);
    -ms-transform: translateX(10rem);
    transform: translateX(10rem); }
  75% {
    -webkit-transform: translateX(0);
    -ms-transform: translateX(0);
    transform: translateX(0); }
  100% {
    opacity: 1;
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)"; } }

@keyframes slide-in-x-10rem {
  0% {
    opacity: 0;
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
    -webkit-transform: translateX(10rem);
    -ms-transform: translateX(10rem);
    transform: translateX(10rem); }
  75% {
    -webkit-transform: translateX(0);
    -ms-transform: translateX(0);
    transform: translateX(0); }
  100% {
    opacity: 1;
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)"; } }
    @media (max-width: 768px) {
      .heading-primary--sub {
        font-size: 16.2px;
        font-size: 1.62rem;
        letter-spacing: 1.14rem;
        line-height: 20px;
        line-height: 2rem; } }

.heading-secondary {
  font-size: 2.25rem;
  text-transform: uppercase;
  font-weight: 700;
  background: #7ed56f;
  background: -webkit-linear-gradient(left, #7ed56f, #28b485);
  background: linear-gradient(to right, #7ed56f, #28b485);
  line-height: 35px;
  line-height: 3.5rem;
  display: inline-block;
  -webkit-background-clip: text;
  background-clip: text;
  color: transparent;
  -webkit-transition: all 0.2s ease-out;
  transition: all 0.2s ease-out;
  letter-spacing: 2px;
  -webkit-transform: translate3d(0, 0, 0);
  -ms-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0); }
  @media (min-width: 420px) and (max-width: 740px) {
    .heading-secondary {
      font-size: calc( 2.25rem + 0.31 * ( ( 100vw - 420px) / 320 )); } }
  @media (min-width: 740px) and (max-width: 980px) {
    .heading-secondary {
      font-size: calc( 2.56rem + 0.33 * ( ( 100vw - 740px) / 240 )); } }
  @media (min-width: 980px) and (max-width: 1300px) {
    .heading-secondary {
      font-size: calc( 2.89rem + 0.35 * ( ( 100vw - 980px) / 320 )); } }
  @media (min-width: 1300px) {
    .heading-secondary {
      font-size: 3.24rem; } }
  .heading-secondary:hover {
    transform: skew(15deg, 2deg) scale(1.1);
    text-shadow: 0.5rem 1rem 2rem rgba(0, 0, 0, 0.2); }

.heading-tertiary {
  font-size: 1.6rem;
  font-weight: 700;
  text-transform: uppercase; }
  @media (min-width: 420px) and (max-width: 740px) {
    .heading-tertiary {
      font-size: calc( 1.6rem + 0.32 * ( ( 100vw - 420px) / 320 )); } }
  @media (min-width: 740px) and (max-width: 980px) {
    .heading-tertiary {
      font-size: calc( 1.92rem + 0.12 * ( ( 100vw - 740px) / 240 )); } }
  @media (min-width: 980px) and (max-width: 1300px) {
    .heading-tertiary {
      font-size: calc( 2.04rem + 0.12 * ( ( 100vw - 980px) / 320 )); } }
  @media (min-width: 1300px) {
    .heading-tertiary {
      font-size: 2.16rem; } }

.paragraph {
  font-size: 1.5rem; }
  @media (min-width: 420px) and (max-width: 740px) {
    .paragraph {
      font-size: calc( 1.5rem + 0.1 * ( ( 100vw - 420px) / 320 )); } }
  @media (min-width: 740px) and (max-width: 980px) {
    .paragraph {
      font-size: calc( 1.6rem + 0.1 * ( ( 100vw - 740px) / 240 )); } }
  @media (min-width: 980px) and (max-width: 1300px) {
    .paragraph {
      font-size: calc( 1.7rem + 0.1 * ( ( 100vw - 980px) / 320 )); } }
  @media (min-width: 1300px) {
    .paragraph {
      font-size: 1.8rem; } }
  .paragraph:not(:last-child) {
    margin-bottom: 3rem; }

.u-center-text {
  text-align: center; }

.u-margin-bottom-small {
  margin-bottom: 1.5rem; }

.u-margin-bottom-medium {
  margin-bottom: 4rem; }

.u-margin-bottom-big {
  margin-bottom: 8rem; }

.u-margin-bottom-big {
  margin-top: 8rem; }

.u-margin-bottom-huge {
  margin-top: 10rem; }

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  -moz-box-sizing: border-box;
  box-sizing: border-box; }

html {
  font-size: 10px;
  outline: 0; }
  html elements-of-type(html5-block) {
    display: block; }

body {
  -moz-box-sizing: border-box;
  box-sizing: border-box; }

.section-about {
  background: #f7f7f7;
  background: -webkit-linear-gradient(top, #f7f7f7, #f7f7f7);
  background: linear-gradient(to bottom, #f7f7f7, #f7f7f7);
  padding: 25rem 0;
  margin-top: -20vh; }

.section-features {
  padding: 20rem 0;
  background-image: linear-gradient(56deg, rgba(255, 255, 255, 0.065) 0%, transparent 69%, transparent 69%, rgba(160, 160, 160, 0.025) 100%), linear-gradient(194deg, rgba(102, 102, 102, 0.185) 0%, rgba(102, 102, 102, 0.185) 60%, rgba(67, 67, 67, 0.185) 60%, rgba(67, 67, 67, 0.185) 100%), linear-gradient(326deg, transparent 0%, rgba(20, 20, 20, 0.125) 45%, rgba(66, 66, 66, 0.02) 45%, transparent 100%), linear-gradient(283deg, transparent 0%, transparent 82%, rgba(85, 197, 122, 0.14) 82%, rgba(28, 28, 28, 0.125) 100%), linear-gradient(33deg, rgba(20, 20, 20, 0.09) 0%, rgba(20, 20, 20, 0.09) 62%, rgba(136, 136, 136, 0.009) 62%, rgba(136, 136, 136, 0.009) 100%), linear-gradient(190deg, rgba(206, 206, 206, 0.04) 0%, rgba(206, 206, 206, 0.04) 58%, rgba(6, 6, 6, 0.06) 58%, rgba(6, 6, 6, 0.02) 100%), linear-gradient(304deg, rgba(162, 162, 162, 0.025) 0%, rgba(162, 162, 162, 0.025) 27%, rgba(24, 24, 24, 0.025) 27%, rgba(24, 24, 24, 0.025) 100%), linear-gradient(186deg, rgba(166, 166, 166, 0.002) 0%, rgba(166, 166, 166, 0.002) 5%, rgba(210, 210, 210, 0.002) 5%, transparent 100%), linear-gradient(to right bottom, rgba(126, 213, 111, 0.45), rgba(40, 180, 133, 0.65)), url("../img/nat-4.jpg");
  background-size: cover;
  -webkit-transform: skewY(-5.5deg);
  -ms-transform: skewY(-5.5deg);
  transform: skewY(-5.5deg);
  width: 100%;
  height: auto;
  margin-top: -10rem; }
  .section-features > * {
    -webkit-transform: skewY(5.5deg);
    -ms-transform: skewY(5.5deg);
    transform: skewY(5.5deg); }
  .section-features--row {
    height: 100% !important; }
  .section-features .u-flex-row {
    display: flex;
    flex: 0 1;
    width: 100%;
    max-width: 1100px;
    height: 100%;
    margin: auto;
    padding: 1rem;
    align-items: center;
    justify-content: space-between;
    flex-direction: row;
    flex-wrap: nowrap;
    box-shadow: rgba(255, 255, 255, 0.5) 0 1px 0, inset rgba(0, 0, 0, 0.75) 0 1px 0; }
    @media (max-width: 1024px) {
      .section-features .u-flex-row {
        flex: 1 1;
        flex-wrap: wrap;
        flex-basis: calc(40vw - 0.5rem);
        justify-content: space-around; } }

.section-tours {
  background: #f7f7f7;
  background: -webkit-linear-gradient(top, #f7f7f7, #f7f7f7);
  background: linear-gradient(to bottom, #f7f7f7, #f7f7f7);
  padding: 25rem 0 15rem 0;
  margin-top: -10rem; }

.section-stories {
  position: relative;
  padding: 15rem 0; }

.section-book {
  padding: 15rem 0;
  background: #7ed56f;
  background: -webkit-linear-gradient(top, #7ed56f, #28b485);
  background: linear-gradient(to bottom, #7ed56f, #28b485); }

.book {
  background-image: linear-gradient(105deg, rgba(255, 255, 255, 0.9) 0%, rgba(255, 255, 255, 0.9) 50%, transparent 50%), url(../img/nat-10.jpg);
  background-size: 100%;
  width: unset;
  height: 50rem;
  border-radius: 3px;
  box-shadow: 0 1.5rem 4rem rgba(0, 0, 0, 0.25); }
  .book__form {
    width: 50%;
    height: unset;
    padding: 6rem; }

.bg-video {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
  opacity: 0.15;
  overflow: hidden; }
  .bg-video__content {
    width: 100%;
    height: 100%;
    object-fit: cover; }

.btn,
.btn:link,
.btn:visited {
  text-transform: uppercase;
  text-decoration: none;
  padding: 1.5rem 4rem;
  display: inline-block;
  border-radius: 10rem;
  -webkit-transition: all 0.2s ease-out;
  transition: all 0.2s ease-out;
  position: relative;
  box-shadow: 0 0.8rem 2.6rem rgba(0, 0, 0, 0.16);
  font-size: 16px;
  font-size: 1.6rem;
  line-height: 16px;
  line-height: 1.6rem;
  border: none;
  cursor: pointer; }

@media (min-width: 421px) and (max-width: 768px) {
  .btn,
  .btn:link,
  .btn:visited {
    padding: 1.6rem 3rem;
    font-size: 14px;
    font-size: 1.4rem; } }

.btn:hover {
  -webkit-transform: translateY(-3px);
  -ms-transform: translateY(-3px);
  transform: translateY(-3px);
  box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.2); }
  .btn:hover::after {
    -webkit-transform: scale(1.4, 1.6);
    -ms-transform: scale(1.4, 1.6);
    transform: scale(1.4, 1.6);
    opacity: 0;
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)"; }

.btn:active {
  outline: none;
  -webkit-transform: translateY(-0.1rem);
  -ms-transform: translateY(-0.1rem);
  transform: translateY(-0.1rem);
  box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.2); }

.btn--white {
  background-color: #fff;
  color: #777;
  border: 1pt solid #28b485; }
  .btn--white::after {
    background-color: #fff; }

.btn--green {
  background-color: #55c57a;
  color: #fff; }
  .btn--green::after {
    background-color: #55c57a; }

.btn--animated {
  -webkit-animation: slide-in-y-4rem 500ms ease-out backwards 750ms;
  animation: slide-in-y-4rem 500ms ease-out backwards 750ms; }

@-webkit-keyframes slide-in-y-4rem {
  0% {
    opacity: 0;
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
    -webkit-transform: translateY(4rem);
    -ms-transform: translateY(4rem);
    transform: translateY(4rem); }
  75% {
    -webkit-transform: translateY(0);
    -ms-transform: translateY(0);
    transform: translateY(0); }
  100% {
    opacity: 1;
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)"; } }

@keyframes slide-in-y-4rem {
  0% {
    opacity: 0;
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
    -webkit-transform: translateY(4rem);
    -ms-transform: translateY(4rem);
    transform: translateY(4rem); }
  75% {
    -webkit-transform: translateY(0);
    -ms-transform: translateY(0);
    transform: translateY(0); }
  100% {
    opacity: 1;
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)"; } }

.btn::after {
  content: "";
  display: inline-block;
  width: 100%;
  height: 100%;
  border-radius: 10rem;
  z-index: -1;
  -webkit-transition: all 0.4s cubic-bezier(0.39, 0.575, 0.565, 1);
  transition: all 0.4s cubic-bezier(0.39, 0.575, 0.565, 1);
  position: absolute;
  top: 0;
  left: 0; }

.btn--heading {
  flex: 0 1 0;
  width: 50%;
  align-self: center; }

.btn-text:link, .btn-text:visited {
  font-size: 1.6rem;
  color: #55c57a;
  display: inline-block;
  text-decoration: none;
  border-bottom: 1px solid #55c57a;
  padding: 3px;
  -webkit-transition: all 333ms cubic-bezier(0.39, 0.575, 0.565, 1);
  transition: all 333ms cubic-bezier(0.39, 0.575, 0.565, 1);
  transition-delay: 33ms;
  -webkit-border-top-left-radius: 0.5rem;
  -moz-border-top-left-radius: 0.5rem;
  border-top-left-radius: 0.5rem;
  -webkit-border-top-right-radius: 0.5rem;
  -moz-border-top-right-radius: 0.5rem;
  border-top-right-radius: 0.5rem;
  -webkit-border-bottom-right-radius: 0;
  -moz-border-bottom-right-radius: 0;
  border-bottom-right-radius: 0;
  -webkit-border-bottom-left-radius: 0;
  -moz-border-bottom-left-radius: 0;
  border-bottom-left-radius: 0;
  -webkit-transform: translate3d(0, 0, 0);
  -ms-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0); }

.btn-text:hover {
  background-color: #55c57a;
  color: #fff;
  box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.15);
  -webkit-transform: translateY(-2px);
  -ms-transform: translateY(-2px);
  transform: translateY(-2px);
  -webkit-border-top-left-radius: 0.5rem;
  -moz-border-top-left-radius: 0.5rem;
  border-top-left-radius: 0.5rem;
  -webkit-border-top-right-radius: 0.5rem;
  -moz-border-top-right-radius: 0.5rem;
  border-top-right-radius: 0.5rem;
  -webkit-border-bottom-right-radius: 0.5rem;
  -moz-border-bottom-right-radius: 0.5rem;
  border-bottom-right-radius: 0.5rem;
  -webkit-border-bottom-left-radius: 0.5rem;
  -moz-border-bottom-left-radius: 0.5rem;
  border-bottom-left-radius: 0.5rem; }

.btn-text:active {
  box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.15);
  -webkit-transform: translateY(0);
  -ms-transform: translateY(0);
  transform: translateY(0); }

.card {
  -webkit-perspective: 110rem;
  -moz-perspective: 110rem;
  perspective: 110rem;
  -webkit-transform: translate3d(0, 0, 0);
  -ms-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0);
  position: relative;
  width: 100%;
  height: 52rem;
  perspective-origin: center;
  transform-style: preserve-3d; }
  .card__side {
    -webkit-perspective: 110rem;
    -moz-perspective: 110rem;
    perspective: 110rem;
    perspective-origin: center;
    transform-style: preserve-3d;
    height: 52rem;
    -webkit-transition: all 0.8s cubic-bezier(0.39, 0.575, 0.565, 1);
    transition: all 0.8s cubic-bezier(0.39, 0.575, 0.565, 1);
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    -webkit-backface-visibility: hidden;
    -moz-backface-visibility: hidden;
    backface-visibility: hidden;
    border-radius: 3px;
    overflow: hidden;
    box-shadow: 0 1.5rem 4rem rgba(0, 0, 0, 0.15); }
    .card__side--front {
      background-color: #fff;
      -webkit-transform: rotateY(0deg);
      -ms-transform: rotateY(0deg);
      transform: rotateY(0deg); }
    .card__side--back {
      -webkit-transform: rotateY(180deg);
      -ms-transform: rotateY(180deg);
      transform: rotateY(180deg); }
      .card__side--back-1 {
        background: #ffb900;
        background: -webkit-linear-gradient(top, #ffb900, #ff7730);
        background: linear-gradient(to bottom, #ffb900, #ff7730); }
      .card__side--back-2 {
        background: #7ed56f;
        background: -webkit-linear-gradient(top, #7ed56f, #28b485);
        background: linear-gradient(to bottom, #7ed56f, #28b485); }
      .card__side--back-3 {
        background: #2998ff;
        background: -webkit-linear-gradient(top, #2998ff, #5643fa);
        background: linear-gradient(to bottom, #2998ff, #5643fa); }
  .card:hover .card__side--front {
    transform: rotateY(-180deg); }
  .card:hover .card__side--back {
    transform: rotateY(0); }
  .card__picture {
    background-size: cover;
    height: 23rem;
    background-blend-mode: screen;
    -webkit-clip-path: polygon(0 0, 100% 0, 100% 85%, 0 100%);
    clip-path: polygon(0 0, 100% 0, 100% 85%, 0 100%);
    -webkit-border-top-left-radius: 3px;
    -moz-border-top-left-radius: 3px;
    border-top-left-radius: 3px;
    -webkit-border-top-right-radius: 3px;
    -moz-border-top-right-radius: 3px;
    border-top-right-radius: 3px;
    -webkit-border-bottom-right-radius: unset;
    -moz-border-bottom-right-radius: unset;
    border-bottom-right-radius: unset;
    -webkit-border-bottom-left-radius: unset;
    -moz-border-bottom-left-radius: unset;
    border-bottom-left-radius: unset; }
    .card__picture--1 {
      background-image: linear-gradient(to right bottom, #ffb900, #ff7730), url(../img/nat-5.jpg); }
    .card__picture--2 {
      background-image: linear-gradient(to right bottom, #7ed56f, #28b485), url(../img/nat-6.jpg); }
    .card__picture--3 {
      background-image: linear-gradient(to right bottom, #2998ff, #5643fa), url(../img/nat-7.jpg); }
  .card__heading {
    font-size: 2.5rem;
    font-weight: 300;
    text-transform: uppercase;
    text-align: right;
    color: #fff;
    position: absolute;
    top: 12rem;
    right: 2rem;
    width: 70%; }
  .card__heading-span {
    padding: 1rem 1.5rem;
    -webkit-box-decoration-break: clone;
    box-decoration-break: clone;
    line-height: 2; }
    .card__heading-span--1 {
      background-image: linear-gradient(to right bottom, rgba(255, 185, 0, 0.85), rgba(255, 119, 48, 0.85)); }
    .card__heading-span--2 {
      background-image: linear-gradient(to right bottom, rgba(126, 213, 111, 0.85), rgba(40, 180, 133, 0.85)); }
    .card__heading-span--3 {
      background-image: linear-gradient(to right bottom, rgba(41, 152, 255, 0.85), rgba(86, 67, 250, 0.85)); }
  .card__details {
    padding: 3rem; }
    .card__details ul {
      list-style: none;
      width: 80%;
      margin: 0 auto; }
      .card__details ul li {
        text-align: center;
        font-size: 1.5rem;
        padding: 1rem; }
        .card__details ul li:not(:last-child) {
          border-bottom: 1px solid #eee; }
  .card__cta {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 80%;
    text-align: center; }
  .card__price-box {
    text-align: center;
    color: #fff;
    margin-bottom: 8rem; }
  .card__price-only {
    font-size: 1.4rem;
    text-transform: uppercase; }
  .card__price-value {
    font-size: 6rem;
    font-weight: 100; }

.composition {
  position: relative; }
  .composition__photo {
    width: 55%;
    height: unset;
    box-shadow: 0 1.5rem 4rem rgba(0, 0, 0, 0.4);
    border-radius: 0.2rem;
    -webkit-transform: translate3d(0, 0, 0);
    -ms-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
    -webkit-transition: all 200ms cubic-bezier(0.39, 0.575, 0.565, 1);
    transition: all 200ms cubic-bezier(0.39, 0.575, 0.565, 1);
    z-index: 10;
    outline-offset: 2rem; }
    .composition__photo--p1 {
      position: absolute;
      top: -2rem;
      left: 0;
      z-index: 11; }
    .composition__photo--p2 {
      position: absolute;
      top: 2rem;
      right: 0;
      z-index: 12; }
    .composition__photo--p3 {
      position: absolute;
      top: 10rem;
      left: 20%;
      z-index: 13; }
    .composition__photo:hover {
      outline: 1.5rem solid #55c57a;
      transform: scale(1.06) translateY(-0.5rem);
      box-shadow: 0 2.5rem 4rem rgba(0, 0, 0, 0.5);
      z-index: 20; }
  .composition:hover .composition__photo:not(:hover) {
    -webkit-transform: scale(0.95);
    -ms-transform: scale(0.95);
    transform: scale(0.95); }

.feature-box {
  background-color: rgba(255, 255, 255, 0.8);
  font-size: 15px;
  font-size: 1.5rem;
  padding: 2rem;
  text-align: center;
  border-radius: 3px;
  box-shadow: 0 1.5rem 4rem rgba(0, 0, 0, 0.15);
  -webkit-transform: translate3d(0, 0, 0);
  -ms-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0);
  -webkit-transition: all 300ms cubic-bezier(0.39, 0.575, 0.565, 1);
  transition: all 300ms cubic-bezier(0.39, 0.575, 0.565, 1);
  width: 100%;
  height: 260px;
  border-radius: 0.25rem; }
  @media (max-width: 1024px) {
    .feature-box {
      padding: 1.5rem; } }
  .feature-box__icon {
    font-size: 60px;
    font-size: 6rem;
    width: 6rem;
    height: 6rem;
    background: #7ed56f;
    background: -webkit-linear-gradient(left, #7ed56f, #28b485);
    background: linear-gradient(to right, #7ed56f, #28b485);
    -webkit-background-clip: text;
    background-clip: text;
    color: transparent;
    margin-bottom: 0.5rem; }
  .feature-box:hover {
    transform: translateY(-1.5rem) scale(1.03); }

.form__group:not(:last-child) {
  margin-bottom: 2rem; }

.form__input {
  font-size: 15px;
  font-size: 1.5rem;
  font-family: inherit;
  color: inherit;
  padding: 1.5rem 2rem;
  border-radius: 2px;
  background-color: rgba(255, 255, 255, 0.5);
  border: none;
  border-bottom: 3px solid transparent;
  width: 90%;
  height: unset;
  display: block; }
  .form__input:focus {
    outline: none;
    box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.1);
    border-bottom: 3px solid #55c57a; }
  .form__input::-webkit-input-placeholder {
    color: #999; }

.story {
  width: 75%;
  height: unset;
  margin: 0 auto;
  box-shadow: 0 3rem 6rem rgba(0, 0, 0, 0.1);
  background-color: rgba(255, 255, 255, 0.6);
  border-radius: 3px;
  padding: 6rem;
  padding-left: 9rem;
  font-size: 16px;
  font-size: 1.6rem;
  -webkit-transform: skewX(-12deg);
  -ms-transform: skewX(-12deg);
  transform: skewX(-12deg); }
  .story__shape {
    width: 15rem;
    height: 15rem;
    float: left;
    -webkit-shape-outside: circle(50% at 50% 50%);
    shape-outside: circle(50% at 50% 50%);
    -webkit-clip-path: circle(50% at 50% 50%);
    clip-path: circle(50% at 50% 50%);
    transform: translateX(-3rem) skewX(12deg);
    position: relative; }
  .story__img {
    width: auto;
    height: 100%;
    transform: translateX(-4rem) scale(1.4);
    backface-visibility: hidden;
    transition: all 0.5s; }
  .story__text {
    -webkit-transform: skewX(12deg);
    -ms-transform: skewX(12deg);
    transform: skewX(12deg); }
  .story__caption {
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    color: #fff;
    text-transform: uppercase;
    font-size: 17px;
    font-size: 1.7rem;
    text-align: center;
    transform: translate(-50%, 20%);
    opacity: 0;
    transition: all 0.5s;
    backface-visibility: hidden; }
  .story:hover .story__caption {
    opacity: 1;
    transform: translate(-50%, -50%); }
  .story:hover .story__img {
    transform: translateX(-4rem) scale(1);
    filter: blur(3px) brightness(80%) sepia(30%); }

.row {
  width: 100%;
  height: auto;
  max-width: 114rem;
  display: block;
  margin-left: auto;
  margin-right: auto;
  font-size: 18px;
  font-size: 1.8rem;
  line-height: 26px;
  line-height: 2.6rem; }
  .row:not(:last-child) {
    margin-bottom: 8rem; }
  .row [class^="col-"] {
    float: left; }
    .row [class^="col-"]:not(:last-child) {
      margin-right: 6rem; }
  .row .col-1-of-2 {
    width: calc((100% - 6rem) / 2);
    height: auto; }
  .row .col-1-of-3 {
    width: calc((100% - 2 * 6rem) / 3);
    height: auto; }
  .row .col-1-of-4 {
    width: calc((100% - 3 * 6rem) / 4);
    height: auto; }
  .row .col-2-of-3 {
    width: calc(2 * ((100% - 2 * 6rem) / 3) + 6rem);
    height: auto; }
  .row .col-2-of-4 {
    width: calc(2 * ((100% - 3 * 6rem) / 4) + 6rem);
    height: auto; }
  .row .col-3-of-4 {
    width: calc(3 * ((100% - 3 * 6rem) / 4) + 2 * 6rem);
    height: auto; }
  .row .flex-col-1-of-4 {
    max-width: calc(100% / 4);
    max-height: 260px;
    min-width: 200px;
    margin: 2rem; }
    @media (max-width: 1024px) {
      .row .flex-col-1-of-4 {
        margin: 1rem;
        max-width: calc(100% / 3);
        margin: 3rem; } }
    @media (max-width: 767px) {
      .row .flex-col-1-of-4 {
        width: 100%;
        max-width: 32rem; } }
    .row .flex-col-1-of-4:after {
      content: '';
      display: block;
      padding-bottom: 100%; }

.header {
  width: unset;
  height: calc(100vh - 2 * 3rem);
  background-image: linear-gradient(56deg, rgba(255, 255, 255, 0.065) 0%, transparent 69%, transparent 69%, rgba(160, 160, 160, 0.025) 100%), linear-gradient(194deg, rgba(102, 102, 102, 0.185) 0%, rgba(102, 102, 102, 0.185) 60%, rgba(67, 67, 67, 0.185) 60%, rgba(67, 67, 67, 0.185) 100%), linear-gradient(326deg, transparent 0%, rgba(20, 20, 20, 0.125) 45%, rgba(66, 66, 66, 0.02) 45%, transparent 100%), linear-gradient(283deg, transparent 0%, transparent 82%, rgba(85, 197, 122, 0.14) 82%, rgba(28, 28, 28, 0.125) 100%), linear-gradient(33deg, rgba(20, 20, 20, 0.09) 0%, rgba(20, 20, 20, 0.09) 62%, rgba(136, 136, 136, 0.009) 62%, rgba(136, 136, 136, 0.009) 100%), linear-gradient(190deg, rgba(206, 206, 206, 0.04) 0%, rgba(206, 206, 206, 0.04) 58%, rgba(6, 6, 6, 0.06) 58%, rgba(6, 6, 6, 0.02) 100%), linear-gradient(304deg, rgba(162, 162, 162, 0.025) 0%, rgba(162, 162, 162, 0.025) 27%, rgba(24, 24, 24, 0.025) 27%, rgba(24, 24, 24, 0.025) 100%), linear-gradient(186deg, rgba(166, 166, 166, 0.002) 0%, rgba(166, 166, 166, 0.002) 5%, rgba(210, 210, 210, 0.002) 5%, transparent 100%), linear-gradient(to right bottom, rgba(126, 213, 111, 0.45), rgba(40, 180, 133, 0.65)), url("../img/hero.jpg");
  background-size: cover;
  background-position: top;
  -webkit-clip-path: polygon(0 0, 100% 0, 100% calc(80vh - 2 * 3rem), 0 100%);
  clip-path: polygon(0 0, 100% 0, 100% calc(80vh - 2 * 3rem), 0 100%);
  position: relative;
  -webkit-transform: translate3d(0, 0, 0);
  -ms-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0); }
  @media (min-width: 1300px) {
    .header {
      width: unset;
      height: calc(100vh - 2 * 3.4rem);
      -webkit-clip-path: polygon(0 0, 100% 0, 100% calc(80vh - 2 * 3.4rem), 0 100%);
      clip-path: polygon(0 0, 100% 0, 100% calc(80vh - 2 * 3.4rem), 0 100%); } }

@media (min-width: 421px) and (max-width: 768px) {
  .header {
    width: unset;
    height: calc(100vh - 2 * 2.4rem);
    -webkit-clip-path: polygon(0 0, 100% 0, 100% calc(80vh - 2 * 2.4rem), 0 100%);
    clip-path: polygon(0 0, 100% 0, 100% calc(80vh - 2 * 2.4rem), 0 100%); } }
  @media (max-width: 420px) {
    .header {
      width: unset;
      height: calc(100vh - 2 * 1.4rem);
      -webkit-clip-path: polygon(0 0, 100% 0, 100% calc(80vh - 2 * 1.4rem), 0 100%);
      clip-path: polygon(0 0, 100% 0, 100% calc(80vh - 2 * 1.4rem), 0 100%); } }
  .header__logo-box {
    position: absolute;
    top: 4rem;
    left: 4rem; }
    @media (max-width: 768px) {
      .header__logo-box {
        position: absolute;
        top: 3rem;
        left: 3rem; } }
  .header__logo {
    width: unset;
    height: 3.5rem; }
    @media (max-width: 768px) {
      .header__logo {
        width: auto;
        height: 3rem; } }
  .header__text-box {
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    top: 42%;
    text-align: center;
    width: auto;
    height: unset;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around; }
