@include font-face(Lato, '../fonts/lato-v16-latin-100', 100, normal);
@include font-face(Lato, '../fonts/lato-v16-latin-100italic', 100, italic);
@include font-face(Lato, '../fonts/lato-v16-latin-300', 300, normal);
@include font-face(Lato, '../fonts/lato-v16-latin-300italic', 300, italic);
@include font-face(Lato, '../fonts/lato-v16-latin-regular', 400, normal);
@include font-face(Lato, '../fonts/lato-v16-latin-italic', 400, italic);
@include font-face(Lato, '../fonts/lato-v16-latin-700', 700, normal);
@include font-face(Lato, '../fonts/lato-v16-latin-700italic', 700, italic);
@include font-face(Lato, '../fonts/lato-v16-latin-900', 900, normal);
@include font-face(Lato, '../fonts/lato-v16-latin-900italic', 900, italic);

body {
  font-family: 'Lato', sans-serif;
  font-weight: 400;
  @include line-height(17);
  color: $color-grey-dark;
  padding: 3rem;
  @include background-size(100%);
  @include background-gradient(darken($color-white, 3%), darken($color-white, 15%), bottomRight);

  @include mq($until: tablet) {
    padding: 2.4rem;
  }

  @include mq($until: mobile) {
    padding: 1.4rem;
  }
}

.heading-primary {
  color: $color-white;
  text-transform: uppercase;
  backface-visibility: hidden;
  margin-bottom: 6rem;
  text-align: center;

  &--main {
    @include line-height(64);
    display: inline-block;
    @include size(98%, 100%);
    @include font-size(60);
    font-weight: 700;
    letter-spacing: 3.5rem;
    @include slide-in-from(x, -10rem, 1s ease-out);

    @include mq($until: tablet) {
      @include size(98%, auto);
      @include font-size(44);
      letter-spacing: 2.5rem;
      @include line-height(48);
    }
  }

  &--sub {
    @include line-height(26);
    display: block;
    @include font-size(20);
    font-weight: 700;
    letter-spacing: 1.75rem;
    @include slide-in-from(x, 10rem, 1s ease-out);

    @include mq($until: tablet) {
      @include font-size(16.2);
      letter-spacing: 1.14rem;
      @include line-height(20);
      ;
    }
  }
}