.u-center-text {
  text-align: center;
}

.u-margin-bottom-small {
  margin-bottom: 1.5rem;
}

.u-margin-bottom-medium {
  margin-bottom: 4rem;
}

.u-margin-bottom-big {
  margin-bottom: 8rem;
}

.u-margin-bottom-big {
  margin-top: 8rem;
}

.u-margin-bottom-huge {
  margin-top: 10rem;
}

// .u-flex-row {
//   display: flex;
//   flex: 1 1 100%;
//   width: 100%;
//   margin: auto;
//   padding: 2rem;

//   @include outline;
// }
