.row {
  @include size(100%, auto);
  max-width: $grid-width;
  // background-color: darken(#eee, 5%);
  @include center-block;
  @include font-size(18);
  @include line-height(26);

  &:not(:last-child) {
    margin-bottom: $gutter-vertical;

    @include respond(tab-port) {
      margin-bottom: $gutter-vertical-small;
    }
  }

  @include respond(tab-port) {
    max-width: 50rem;
    padding: 0 3rem;
  }

  @extend %clearfix;

  [class^="col-"] {
    float: left;

    &:not(:last-child) {
      margin-right: $gutter-horizontal;

      @include respond(tab-port) {
        margin-right: 0;
        margin-bottom: $gutter-vertical-small;
      }
    }

    @include respond(tab-port) {
      width: 100% !important;
    }
  }

  .col-1-of-2 {
    @include size(calc((100% - #{$gutter-horizontal}) / 2), auto);
  }

  .col-1-of-3 {
    @include size(calc((100% - 2 * #{$gutter-horizontal}) / 3), auto);
  }

  .col-1-of-4 {
    @include size(calc((100% - 3 * #{$gutter-horizontal}) / 4), auto);
  }

  .col-2-of-3 {
    @include size(calc(2 * ((100% - 2 * #{$gutter-horizontal}) / 3) + #{$gutter-horizontal}), auto);
    // @include background-gradient(#{$color-secondary-light}, #{$color-secondary-dark}, horizontal);
  }

  .col-2-of-4 {
    @include size(calc(2 * ((100% - 3 * #{$gutter-horizontal}) / 4) + #{$gutter-horizontal}), auto);
    // @include background-gradient(darken($color-tertiary-light, 10%), #{$color-tertiary-light}, horizontal);
  }

  .col-3-of-4 {
    @include size(calc(3 * ((100% - 3 * #{$gutter-horizontal}) / 4) + 2 * #{$gutter-horizontal}), auto);
    // @include background-gradient(darken($color-tertiary-dark, 4%), #{$color-tertiary-light}, horizontal);
  }

  .flex-col-1-of-4 {
    max-width: calc(100% / 4);
    max-height: 260px;
    min-width: 200px;
    margin: 2rem;

    &:after {
      content: '';
      display: block;
      padding-bottom: 100%;
    }
  }
}