.feature-box {
  // background-color: rgba($color-white, 0.85);
  background-color: $color-white;
  opacity: 0.85;
  @include font-size(15);
  padding: 2rem;
  text-align: center;
  border-radius: 3px;
  box-shadow: 0 1.5rem 4rem rgba($color-black, 0.15);
  @include ha;
  @include transition(300ms, cubic-bezier(0.39, 0.575, 0.565, 1));
  width: 100%;
  height: 260px;
  border-radius: 0.25rem;

  @include respond(tab-port) {
    padding: 2rem;
  }

  &__icon {
    @include font-size(60);
    @include size(6rem);
    @include background-gradient(
      $color-primary-light,
      $color-primary-dark,
      horizontal
    );
    -webkit-background-clip: text;
    background-clip: text;
    color: transparent;
    margin-bottom: 0.5rem;

    @include respond(tab-port) {
      margin-bottom: 0;
    }
  }

  &:hover {
    transform: translateY(-1.5rem) scale(1.03);
    // background-color: rgba($color-white, 1);
    opacity: 1;
  }
}
